@import '../../../styles/global.scss';

.aboutText {
  padding: 10px 0;
  font-size: 17px;
  text-align: justify;
  transition: $transition;

  &:hover {
    color: $font-color-hover;
  }
}

@media(max-width: 767px) {
  .about {
    padding: 10px;
  }

  .aboutText {
    color: $font-color-hover;

    &:hover {
      color: $font-color;
    }
  }
}
