@import './settings.scss';
@import './typography.scss';
@import './normalize.scss';

*, *::before, *::after {
  box-sizing: border-box;
  font-family: $font-family;
  background: $background-color;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  letter-spacing: 4px;
  text-transform: lowercase;
  color: $font-color;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: $font-color-hover;
  transition: $transition;
}

a:hover {
  color: $font-color;
}

a.active {
  color: $font-color;
}

.pageContent {
  width: 100%;
  height: 100%;
  padding: $base-size*2;
}

@media(max-width: 767px) {


  .pageContent {
    padding: 0;
  }
}