@import '../../../styles/global.scss';

.contact {
  display: flex-wrap;
  justify-content: space-around;
  text-align: center;
  margin-top: $base-size*3;
}

.boxWrapper {
  display: flex;
  justify-content: space-around;
}

.contactBox {
  width: 47%;
  transition: ease 0.8s;
  border-radius: 4px;
  box-shadow: 0 0 8px #14161a;
  margin: 20px 0;
  padding: 20px 0;

  .icon.cv {
    border-radius: 50%;
  }

  .icon {
    color: $font-color;
    font-size: 60px;
    transition: $transition;
    margin-bottom: 20px;
  }

  .contactTitle {
    font-size: 18px;
  }
  &:hover {
    box-shadow: 0 0 8px rgb(235, 235, 235);
    .git {
      color: #f34f29;
    }
    .in {
      color: #0077b5;
    }
    .mail {
      color: greenyellow;
    }
    .cv {
      color: $font-color;
      background: #da251c;
    }
  }
}

@media(width: 768px) {
  .contactBox {
    .contactTitle {
      font-size: 16px;
    }
  }
}

@media(max-width: 767px) {

  .boxWrapper {
    flex-direction: column;
  }
  
  .contactBox {
    width: 100%;
  }
}

@media(max-width: 374px) {
  .contactBox {
    .contactTitle {
      font-size: 14px;
    }
  }
}