@import '../../../styles/global.scss';

nav {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  align-items: center;
}

.logoNav {
  border-right: 5px $font-color-hover solid;
}

.navLinks {

  a {
    padding: 0 4px 0 16px;
    align-items: center;
    border-right: 3px $font-color-hover solid;
  }
}

@media(max-width: 1024px) {

  nav {
    padding-right: 20px;
  }
}

@media(max-width: 768px) {

  nav {
    font-size: 20px;
  }

  .navLinks {

    a {
      padding: 0 2px 0 12px;
    }
  }
}

@media(max-width: 767px) {
  
  nav {
    padding-right: 0;
  }

  .navLinks {
    display: none;
  }
}